<div class="jumbotron">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the Post Independant Scrape</h1>
        <p class="lead">This is a simple website.</p>
        <hr class="my-4">
        <p>It uses Cheerio to scrape the news website "The Post Independant"</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Web_scraping" role="button">Learn
                more</a>
        </p>
        <a href="/scrape">TO THE SCRAPING</a>
    </div>
</div>
{{#each savedArticles}}
<div class="articles">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">{{title}}</h4>
                    <a href={{a}}>Link to Story ~</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}