body {
    font-family: 'Baloo Da 2', cursive;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.jumbotron {
    text-align: center;
}

.card-title {
    font-size: x-large;
}

.card-header {
    font-size: larger;
}

.articles {
    width: 1000px;
}

#titleID, #linkID, .savebutton, a {
    font-size: x-large;
}